// colors
$dark-blue: rgb(45, 62, 80);
$dark-blue-alt: rgb(46, 62, 75);
$light-blue: rgb(50, 152, 218);
$light-blue-alt: rgb(53, 152, 219);
$fade-blue: rgb(176, 226, 225);
$dark-solid: rgb(22, 31, 40);
$dark-solid-alt: rgb(22, 31, 40);

// hero
$hero-bg: $dark-blue;
$hero-text: $light-blue;
// quote
$quote-bg: $light-blue-alt;
$quote-text: $fade-blue;
// about
$about-text: $dark-blue-alt;
// contact
$contact-bg: $dark-blue;
$contact-form: $dark-solid-alt;
// footer
$footer-bg: $dark-solid-alt;
