.photo-blockquote{
  background-color: $quote-bg;
  margin-top: -80px;
  padding-bottom: 80px;
  
  span{
    img{
      width: 85px;
      height: 85px;
      margin: auto;
    }
  }
  blockquote{
    p{
      font-family: 'Playfair Display', Georgia, serif;
      font-size: 24px;
      line-height: 1.4;
      text-align: center;
      color: #FFFFFF;
    }
    
    &::before{
      content: '  ';
      display: block;
      font-family: 'Playfair Display', Georgia, serif;
      text-align: center;
      font-size: 150px;
      color: #FFFFFF;
      line-height: 30px;
      padding-top: 40px;
    }
    
    footer{
      font-family: "Open Sans", Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      color: $quote-text;
    }
  }
}